@import "Colors.less";
@import "MediaQuery.less";

@keyframes translateX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes translate-X {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes translateY {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.translateX {
  animation-name: translateX;
  animation-duration: 2s;
  opacity: 1;
}

.translate-X {
  animation-name: translate-X;
  animation-duration: 2s;
  opacity: 1;
}
.translateY {
  animation-name: translateY;
  animation-duration: 1.5s;
  opacity: 1;
}

.App {
  display: grid;
  text-align: center;
  background: @background-1;
  overflow-x: hidden;
  .CentralizedText {
    color: white;
    font-size: 2.5vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  button {
    color: #424a4e;
    font-size: 1vw;
    background: transparent;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 1.5% 4%;
    font-weight: bold;
    border: solid 1px #424a4e;
    transition: 0.5s;
    &:hover {
      color: white;
      background: #424a4e;
      transition: 0.5s;
      cursor: pointer;
    }
  }

  .Sobre {
    position: relative;
    img {
      max-width: 100%;
      margin-top: calc(-10px - 2vmin - 90px);
      vertical-align: middle;
      @media @phone {
        max-width: none;
        width: 100%;
        height: 720px;
        object-fit: cover;
        object-position: bottom;
      }
    }
    @media @phone {
      height: 100%;
    }
  }
  .Planos {
    position: relative;
    color: @font-color;
    h1 {
      margin-top: 7%;
    }
    span {
      font-size: 1vw;
    }
    img {
      max-width: 100%;
    }
    button {
      margin: 2rem 0;
      padding: 1% 2.6%;
    }

    .grid-3-invsible {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%; //Set a fixed width
      grid-template-areas: "area-1 area-2 area-3";
      margin: 0 10%;
      opacity: 0;
    }
    .grid-3 {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%; //Set a fixed width
      grid-template-areas: "area-1 area-2 area-3";
      margin: 0 4%;
      opacity: 1;
      @media @phone {
        display: block;
      }
      li {
        text-align: left;
        margin-left: 10%;
        margin-bottom: 7%;
        @media @phone {
          width: 100%;
        }
      }
      .area-1 {
        .translateY();
        @media @phone {
          border-bottom: 1px solid rgba(66, 74, 78, 0.5);
          padding-top: 10%;
          padding-bottom: 5%;
          white-space: nowrap;
          display: flex;
          flex-direction: column;
          align-items: center;
          ul {
            padding-right: 10%;
          }
        }
      }
      .area-2 {
        .translateY();
        animation-duration: 2s;
        border-right: 1px solid rgba(66, 74, 78, 0.5);
        border-left: 1px solid rgba(66, 74, 78, 0.5);
        @media @phone {
          border: none;
          border-bottom: 1px solid rgba(66, 74, 78, 0.5);
          padding-top: 10%;
          padding-bottom: 5%;
          white-space: nowrap;
          display: flex;
          flex-direction: column;
          align-items: center;
          ul {
            padding-right: 10%;
          }
        }
      }
      .area-3 {
        .translateY();
        animation-duration: 2.4s;
        @media @phone {
          border-bottom: 1px solid rgba(66, 74, 78, 0.5);
          padding-top: 10%;
          padding-bottom: 5%;
          display: flex;
          flex-direction: column;
          align-items: center;
          ul {
            padding-right: 10%;
          }
        }
      }
    }
    p {
      margin-bottom: 5%;
    }
  }
  .Modelos {
    position: relative;
    background: @background-2;
    color: @font-color;
    font-size: 1.5vw;

    .grid-2 {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-areas: "area-1 area-2";
    }
    .grid-21 {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-areas: "area-1 area-2";
      .translate {
        .translate-X();
      }
    }
    .area-1 {
      text-align: left;
      margin-left: 10%;
      margin-right: 10%;
      p {
        opacity: 0;
      }
      .easy-in {
        opacity: 1;
        transition: ease-in 2s;
      }
    }
    .area-2 {
    }

    .translate {
      .translateX();
    }

    img {
      mask-image: linear-gradient(160deg, rgba(0, 0, 0, 1) 60%, transparent 110%);
      max-width: 100%;
      opacity: 0;
      transition: ease-in 0.3s;
      &:hover {
        transform: translateY(-2%);
        transition: ease-in 0.3s;
      }
    }
    button {
      align-self: center;
      margin: 2rem 0;
      padding: 1% 2.6%;
    }
  }
  .Contatos {
    position: relative;
    background: linear-gradient(to bottom, #010714, #000000 70.71%);
    h1 {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.7);
      background: linear-gradient(to bottom, #000000, #000000 70.71%);
    }
    p {
      position: relative;
      display: flex;
      align-self: flex-start;
      padding-left: 8%;

      top: -25%;
      font-size: 1.8vw;
      color: rgba(255, 255, 255, 0.7);
    }

    .CentralizedText {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "area-1 area-2";
      @media @phone {
        top: 13em;
        transform: translate(-50%, 0%);
      }
    }
    .area-1 {
      transform: translate(-50%, -20%);
      @media @phone {
        width: 130.5%;
      }
      img {
        mask-image: linear-gradient(160deg, rgba(0, 0, 0, 1) 60%, transparent 110%);
      }
      span {
        position: relative;
        display: flex;
        top: -27%;
        align-self: flex-start;
        padding-left: 8%;

        font-size: 1.3vw;
        color: rgba(255, 255, 255, 0.4);
      }
    }

    .area-2 {
      transform: translate(50%, -20%);
      @media @phone {
        width: 130%;
        transform: translate(25%, -20%);
      }
      img {
        mask-image: linear-gradient(160deg, rgba(0, 0, 0, 1) 60%, transparent 110%);
      }
      span {
        display: flex;
        position: relative;
        align-self: flex-start;
        padding-left: 8%;
        top: -27%;
        font-size: 1.3vw;
        color: rgba(255, 255, 255, 0.4);
      }
    }
    img {
      max-width: 100%;
    }
    button {
      position: relative;
      top: -10%;
      padding: 1% 2.6%;
    }
    a {
      color: white;
    }
    .linkedin {
      cursor: pointer;
      position: relative;
      float: right;
      top: -34%;
      padding: 2%;
      transition: ease-in 0.3s;
      &:hover {
        transform: translateY(-5%);
        transition: ease-in 0.3s;
        color: #00a0dc;
      }
    }
    .service {
      background: @background-1;
      color: @font-color;
      display: grid;
      grid-template-columns: 40% 60%; //Set a fixed width
      grid-template-areas: "grid-1 grid-2";
      @media @phone {
        grid-template-columns: 100%;
        grid-template-areas:
          "grid-1"
          "grid-2";
      }
      .grid-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2% 2%;
        @media @phone {
          white-space: nowrap;
        }
      }
      .grid-2 {
        padding-top: 2.5%;
        display: grid;
        grid-template-columns: 48% 48%; //Set a fixed width
        grid-template-rows: 48% 48%;
        text-align: initial;
        @media @phone {
          padding: 2% 2%;
          grid-template-columns: 55% 48%; //Set a fixed width
          grid-template-rows: auto;
        }

        p {
          padding: 0%;
          padding-right: 5%;
          top: 0%;
        }
        .subgrid-1 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border-bottom: 1px solid @font-color;
        }
        .subgrid-2 {
          .subgrid-1();
        }
        .subgrid-3 {
          .subgrid-1();
          border-bottom: none;
        }
        .subgrid-4 {
          .subgrid-3();
        }

        grid-template-areas:
          "subgrid-1 subgrid-2 "
          "subgrid-3 subgrid-4";
      }

      h1 {
        background: transparent;
        color: @font-color;
        padding-bottom: 1%;
      }
      p {
        background: transparent;
        color: @font-color;
        padding-top: 10%;
        font-size: 1.5vw;
      }
    }
  }

  .App-header {
    font-size: calc(5px + 2vmin);
    font-weight: bold;
  }
  @media @phone {
    display: block;
  }
}
.transparent {
  background: none;
}
.App-link {
  color: #61dafb;
}
